<footer>
    <div class="f-links-social">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <span> &copy; Wanderlust Private Limited </span>
    <div class="f-links-security">
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
    </div>
</footer>